body{
    background: white;
    background-image: url("../images/backgroundImg.jpg");
    background-size: cover;
    color: black;
    font-family: Helvetica Neuve, Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    
    
}

header{
    background-color:black;
    background-size: 100%;
    background-position: center;
    height: 80px ;
    padding: 20px;
    text-align: center;
}

header a{
    color: white;
    text-decoration: none;
    margin-top:40px ;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin: 0 70px 0 0;
    padding-top: 20px;
}

 .aboutme h1{
    color: red;
}

.profilepic{
    border: 15px solid black;
    padding: 0 20px 20px 20px;
    background-color: white;
    padding: 0.5rem;
    display: block;
    flex-direction: column;
    width: 200px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}

.profilepic img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

h1 {
    margin: 0 200px;
    padding: 40px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    text-align: center;
  }
  
  .skill-summary{
    text-align: center;
    font-size: large;
    font-style: oblique ;
  }